/* .App {
  text-align: center;
} */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  transition: 0.5s;
}

.grid-porto {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "label img";
}

.grid-reverse {
  grid-template-areas: "img label";
}

.porto-label {
  grid-area: label;
  padding: 0 65px 0 65px;
  text-align: left;
  display: block;
}

.headline {
  background-color: #2B2B2B;
  height: 729px;
}

.porto-img {
  grid-area: img;
  background-color: #56DF58;
  height: 558px;
  overflow: hidden;
}

.img-mockup {
  filter: grayscale(100%);
  transition: 0.6s ease-out;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.container:hover .img-mockup {
  filter: grayscale(0%);
  transform: scale(1.05);
}

section.hero {
  background-image: url('./assets/square.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
}

.btn {
  position: relative;
  border: none;
  background: none;
  letter-spacing: 0.375em;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  z-index: 99;
}

.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 40%;
  width: 0%;
  left: 0;
  bottom: 0;
  background: #56DF58;
  transition: 0.3s ease-out;
}

.btn:hover::after{
  width: 100%;
}

.btn-lg {
  font-size: 32px;
}

.btn-sm {
  font-size: 24px;
}

h1.line {
  width: fit-content;
  position: relative;
  /* background: #56DF58; */
  line-height: 156%;
  z-index: 1;
  /* background-image: url('./assets/line-green.png');
  background-repeat: repeat-x;
  background-position: 0 92%; */
}

h1.line::after {
  content: '';
  position: absolute;
  height: 40%;
  width: 100%;
  z-index: -1;
  left: 0;
  bottom: 0;
  background: #56DF58;
}

.ornament-box {
  background-color: #2B2B2B;
  width: 58px;
  height: 58px;
}

h1 {
  font-size: 108px;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 96px;
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 156%;
}

p {
  font-size: 48px;
  font-weight: 100;
  line-height: 166.5%;
  margin-top: 68px;
  margin-bottom: 68px;
}

section {
  min-height: fit-content;
}

@media (min-width : 1200px) {
  
}