body {
  margin: 0;
  font-family: 'PlusJakartaSans' !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 100;
  src: local('PlusJakartaSans'), url(./fonts/PlusJakartaSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 800;
  src: local('PlusJakartaSans'), url(./fonts/PlusJakartaSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 900;
  src: local('PlusJakartaSans'), url(./fonts/PlusJakartaSans-ExtraBold.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}